@import "../../scss/components.scss";
@import '../../scss/variables.scss';

$chartMinHeight: 300px;

.chart-title {
    font-weight: bold;
    margin-bottom: $padding-base;
}

.chart-message-text {
    @extend .empty-results-text;
    display: table;
    width: 100%;
    padding: 0 10%;
    min-height: $chartMinHeight;
    text-align: center;
    border: 1px dashed $gray-lighter;

    > .no-data-label {
        display: table-cell;
        vertical-align: middle;
    }

    .icon-alert {
        margin-right: $padding-small;
    }
}

.chart-item {
    $xAxisHeight: 20px;
    position: relative;

    .chart-content {
        position: relative;
    }

    .rechart-container {
        margin-left: $padding-large;
        min-height: $chartMinHeight;
    }

    .xAxis-label {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .yAxis-label {
        position: absolute;
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        top: calc(50% - #{$xAxisHeight});
        left: $padding-large;

        &.secondary {
            transform: translateX(50%) translateY(50%) rotate(90deg);
            left: auto;
            top: calc(50% - #{$xAxisHeight * 2});
            right: $padding-large;
        }
    }
    .chart-loader {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: white;
        border: 1px dashed #f0f0f0;
        z-index: $zindex-dropdown-backdrop - 1;

        > * {
            position: absolute;
            top: $padding-base;
            right: $padding-base;
            bottom: $padding-base;
            left: $padding-base;
            background-color: #f0f0f0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.custom-tooltip {
    padding: $padding-base;
    background-color: $white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .15), 0 10px 12px rgba(0, 0, 0, .25);
    border: 1px solid rgba(0, 0, 0, .1);

    .timestamp, .serie-value {
        font-weight: 700;
    }

    .timestamp {
        display: block;
    }

    .serie-name, .serie-value, .bullet {
        display: inline-block;
        margin-right: $padding-base;
    }

    .bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #f0f0f0;
    }
}

.recharts-legend-item, .recharts-curve.recharts-line-curve, .custom-dot {
    cursor: pointer
}

/// Rechart element stylings
.recharts-cartesian-axis-tick {
    font-size: $font-size-xs;
}

.recharts-legend-item {
    font-size: $font-size-xs;
    margin-bottom: $padding-small;
}

.xAxis,
.yAxis {
    .recharts-text.recharts-label {
        fill: $gray-light;
        text-anchor: middle;
    }
}
