@import "../scss/app.scss";

$query-result-container-min-height: 300px;
$clear-buttons-size: 19px;

.main-page-container {
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .main-page-header {
        min-height: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: $content-header-color;
        background: $content-header-bg;
        padding-left: 40px;
        padding-right: 40px;
    }

    > .main-page-content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-width: 1000px;
        max-width: 1200px;

        > .search-function-container {
            min-height: 285px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: $padding-base;

            > .search-bar-container {
                display: flex;
                flex-direction: row;
                width: 740px;
                align-items: center;
                justify-content: center;

                > .typeahead-container {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    > .typeahead-bar {
                        width: 650px;
                        margin-right: $padding-base;
                        box-shadow: 0 2px 4px $shadow;

                        .form-control {
                            border-radius: 2px;
                        }
                    }

                    > .clear-button-container {
                        position: absolute;
                        right: $padding-xlarge;
                        width: $clear-buttons-size;

                        > .close-button {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            padding-left: 0;
                            padding-right: 0;
                            min-width: $clear-buttons-size;
                            width: $clear-buttons-size;
                            height: $clear-buttons-size;
                            z-index: 2;
                            background-color: $darker-grey-text;

                            > span {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                text-align: center;
                                font-size: 9px;
                                line-height: 9px;
                                font-weight: bolder;
                            }
                        }
                    }
                }
            }
        }

        > .query-result-container {
            flex: 1;
            min-height: $query-result-container-min-height;
            height: 100%;
            display: flex;
            flex-direction: row;

            > .list-container {
                flex: 2;
                position: relative;
                margin-left: $padding-large;
                margin-right: $padding-large;
            }

            > .communication-container {
                flex: 1;
                min-width: 270px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: white;
                margin-right: $padding-large;
                border: solid 1px $shadow;

                > .selected-tile-status-text {
                    padding: $padding-large;
                    max-width: 268px;
                }

                > .talk-container {
                    display: flex;
                    align-items: center;
                    padding: $padding-large;

                    > .talk-status-diagram {
                        display: flex;
                        align-items: center;

                        > .talk-image {
                            width: 150px;
                        }

                        > .talk-status-diagram-selected-tile-name {
                            text-align: center;
                        }
                    }
                }
            }

        }
    }
}



