@import "../scss/app.scss";

$query-result-container-min-height: 300px;

.talk-page-container {
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .talk-page-header {
        min-height: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: $content-header-color;
        background: $content-header-bg;
        padding-left: 40px;
        padding-right: 40px;

        > .close-button {
            display: flex;
            flex-direction: row-reverse;
            font-size: 30px;
            padding-left: 0;
            padding-right: 0;
            width: 65px;
            min-width: 65px;
            height: 65px;
            color: white;
            background-color: transparent;
        }
    }

    > .talk-page-content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        > .gauges-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            min-height: 320px;
            padding-bottom: 150px;

            > .gauge-container {
                display: flex;
                flex-direction: row;

                > .legends-container {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
                    padding: $padding-base;
                    padding-top: 60px;
                    height: 100%;

                    > .legend-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        > .endpoints-value {
                            font-size: 15px;
                            padding: $padding-small;
                        }

                        > .endpoints-status {
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        > .how-they-talk-container {
            width: 37%;
            position: relative;

            > .point-to-point-container {
                width: 100%;
            }

            > .how-they-talk-button {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 2;
                justify-content: center;
                align-items: center;
            }
        }
    }

    > .how-they-talk-page {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(146, 146, 146, .5);

        > .how-they-talk-page-container {
            width: 80%;
            height: 80%;
            border-radius: 5px;
            overflow: hidden;
            background-color: $white;

            > .how-they-talk-page-header {
                width: 100%;
                height: 60px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                background-color: $light-grey;
                padding-left: $padding-xlarge;
                padding-right: $padding-xlarge;

                > .how-they-talk-page-header-left {

                }

                > .close-button {
                    display: flex;
                    flex-direction: row-reverse;
                    font-size: 30px;
                    padding-left: 0;
                    padding-right: 0;
                    width: 65px;
                    min-width: 65px;
                    height: 65px;
                    color: $darker-grey-text;
                    background-color: transparent;
                }
            }

            > .how-they-talk-page-content {
                padding: $padding-xxxlarge;

                > .table-container {
                    padding-top: 100px;

                    > .table-title {
                    }
                }
            }
        }
    }

}

.gauge-value-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    > .gauge-value-major {
        font-size: 20px;
        font-weight: bold;
    }

    > .gauge-value-major-unit {
        font-size: 15px;
        color: $grey-text;
    }

    > .gauge-value-minor {
        font-size: 15px;
        font-weight: bold;
    }

    > .gauge-value-minor-unit {
        font-size: 12px;
        color: $grey-text;
    }

}

.gauge__title {
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
}
