@import '../../scss/variables.scss';

.telemetry-dialog {
  width: 800px;
  max-height: 90%;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  z-index: $zindex-modal;
  box-shadow: 0px 20px 63px 0px rgba(0,0,0,.24);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: $padding-base;

  .telemetry-dialog-header {
    padding-top: $padding-small;
    padding-bottom: $padding-base;
    .telemetry-dialog-title {
      font-size: 24px;
      line-height: 1;
    }
  }

  .telemetry-dialog-content {
    overflow-y: auto;
    padding: $padding-small;
    flex: 1 auto;
    background-color: #f2f2f2;
  }

  .telemetry-dialog-footer {
    display: flex;
    flex: none;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: $padding-base;
  }
}

.telemetry-dialog-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: $zindex-modal-backdrop;
}

.telemetry-dialog-dialog-wrap {
  position: fixed;
  z-index: $zindex-modal-backdrop - 1;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}
