@import "./scss/app.scss";

.app-container {
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;

    > .app-page-popup {
        height: auto;

        > .popup-table {
            background-color: white;
            border-radius: 2px;
            overflow: auto;

            > .app-page-popup-content {
                padding: 0;
                overflow: auto;

                > .popup-table-container {
                    overflow: auto;
                }
            }
        }
    }
}

.popup-page-header {
    min-height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $content-header-color;
    background: $content-header-bg;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: $base-box-shadow;

    > .close-button {
        display: flex;
        flex-direction: row-reverse;
        font-size: 30px;
        padding-left: 0;
        padding-right: 0;
        width: 65px;
        min-width: 65px;
        height: 65px;
        color: white;
        background-color: transparent;
    }

    > .close-button:hover {
        background-color: transparent;
    }
    > .close-button:active {
        outline: none;
        background-color: transparent;
    }
    > .close-button:focus {
        outline: none;
        box-shadow: none;
        border: none;
    }
}

.display-none {
    display: none !important;
}

.opacity-zero {
    opacity: 0 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-half {
    flex: 0.5 !important;
}

.flex-2 {
    flex: 2 !important;
}

.flex-align-items-end {
    align-items: flex-end !important;
}

.align-start {
    align-items: start !important;
}

.text-bold {
    font-weight: bold;
}

.text-color-gery {
    color: $grey-text;
}

.text-color-light-blue {
    color: $color-light-blue;
}

.text-color-dark-blue {
    color: $color-dark-blue;
}

.blue-background {
    background-color: #D2EBF6 !important;
}

.circle-dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.color-green {
    background-color: $color-green;
}

.color-red {
    background-color: $color-red;
}

.color-light-blue {
    background-color: $color-light-blue;
}

.color-dark-blue {
    background-color: $color-dark-blue;
}

// override react component css
.react-contexify {
    border-top: $color-light-blue 2px solid;
}

// override cui css
.cui .gauge--info .gauge__circle .mask .fill {
    background-color: $color-green;
}

.cui .gauge {
    background-color: $color-red;
    position: relative;
}

.basic-table .pagination-bottom .-pagination .-previous {
    min-width: 270px;
}

.basic-table .pagination-bottom .-pagination .-next {
    min-width: 210px;
}

