@import "./scss/app.scss";

$query-result-container-min-height: 300px;

.app-container {
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;

    > .popup-table-page {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        background-color: $transparent-background;
        width: 100%;
        height: 100%;
        overflow: auto;

        > .popup-table {
            background-color: white;
            border-radius: 5px;
            overflow: auto;

            > .popup-table-header-container {
                width: 100%;
                height: 40px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                background-color: $light-grey;
                padding-left: $padding-xlarge;
                padding-right: $padding-xlarge;

                > .close-button {
                    display: flex;
                    flex-direction: row-reverse;
                    font-size: 30px;
                    padding-left: 0;
                    padding-right: 0;
                    width: 65px;
                    min-width: 65px;
                    height: 65px;
                    color: $darker-grey-text;
                    background-color: transparent;
                }
            }

            > .popup-table-page-content {
                overflow: auto;

                > .popup-table-container {
                    overflow: auto;
                }
            }
        }
    }
}

.display-none {
    display: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-half {
    flex: 0.5 !important;
}

.flex-2 {
    flex: 2 !important;
}

.flex-align-items-end {
    align-items: flex-end !important;
}

.align-start {
    align-items: start !important;
}

.text-bold {
    font-weight: bold;
}

.text-color-gery {
    color: $grey-text;
}

.text-color-orange {
    color: $orange;
}
.text-color-blue {
    color: $blue;
}

.blue-background {
    background-color: #D2EBF6 !important;
}

.circle-dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.color-green {
    background-color: $color-green;
}

.color-red {
    background-color: $color-red;
}

// override cui css
.cui .gauge--info .gauge__circle .mask .fill {
    background-color: $color-green;
}

.cui .gauge {
    background-color: $color-red;
    position: relative;
}

.basic-table .pagination-bottom .-pagination .-previous {
    min-width: 270px;
}

.basic-table .pagination-bottom .-pagination .-next {
    min-width: 210px;
}

