@import "./scss/app.scss";

$query-result-container-min-height: 300px;

.app-container {
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
}

.display-none {
    display: none !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-half {
    flex: 0.5 !important;
}

.flex-2 {
    flex: 2 !important;
}

.flex-align-items-end {
    align-items: flex-end !important;
}

.align-start {
    align-items: start !important;
}

.text-bold {
    font-weight: bold;
}

.gery-text {
    color: $grey-text;
}

.blue-background {
    background-color: #D2EBF6 !important;
}

.circle-dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.color-green {
    background-color: $color-green;
}

.color-red {
    background-color: $color-red;
}

// override cui css
.cui .gauge--info .gauge__circle .mask .fill {
    background-color: $color-green;
}

.cui .gauge {
    background-color: $color-red;
    position: relative;
}

