@import "variables.scss";
@import "mixins.scss";

.empty-results-text {
    font-size: $empty-results-font-size;
    font-weight: $empty-results-font-weight;
    color: $empty-results-color;

    @include text-stamped;
}

.header-container {
    min-height: $header-height;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $white;
    padding-left: 40px;
    padding-right: 40px;

    > .header-left {
        display: flex;
        flex-direction: row;
        align-items: center;

        > .header-bar__logo {
            margin-left: $padding-xxlarge;
        }
    }

    .header-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        min-width: $header-icon-size;
        width: $header-icon-size;
        height: $header-icon-size;
        z-index: 2;
    }
}

.tile-container {

    height: $tile-height;
    width: 100%;
    background-color: white;

    .tile-content-container.selected {
        border: solid 1px $link-container-highlight;
        border-left-width: 4px;
        padding-left: 0;
    }

    .tile-content-container {

        height: $tile-height;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: solid 1px $shadow;
        padding-left: 3px;

        > .tile-image-container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            > .tile-image {
                width: $tile-image-size;
            }
        }

        > .tile-info-column-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            > .text-one-row {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 74px;
            }

            > .tile-end-point-number {
                color: $color-dark-blue-text;
                font-size: 28px;
            }

            > .tile-end-points-text {
                font-size: 14px;
            }

            > .tile-toggle-icon-container {
                height: 16px;
                width: 16px;
                border: solid 1px $grey-text;
                border-radius: 1px;
                box-shadow: 0 0 1px $grey-text;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $link-container-highlight;
            }
        }
    }
}

.point-to-point-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: $big-point-size;

    > .line-container {
        height: 10px;
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;

        > .line {
            height: 1px;
            flex: 1;
            background-color: $darker-grey-text;
        }

        > .line.selected {
            background-color: $orange;
            height: 2px;
        }
    }

    > .line-container:hover {
        cursor: pointer;

        > .line {
            height: 2px;
        }
    }

    > .big-point-container {
        position: relative;
        width: $big-point-size;
        height: $big-point-size;

        > .big-circle {
            width: $big-point-size;
            height: $big-point-size;
            border-radius: $big-point-radius;
            background-color: $content-header-bg;
            color: $white;
            font-size: 20px;
            text-align: center;
            vertical-align: center;
            line-height: $big-point-size;
        }
        > .big-circle.selected {
            border: solid 4px $link-container-highlight;
            line-height: $big-point-size - 2 * 4px;
        }

        > .foot-note-container {
            position: absolute;
            display: flex;
            flex-direction: column;
            text-align: center;
            width: $big-point-size;

            > .major-foot-note {
                flex: 1;
                font-size: 13px;
                margin-left: -100%;
                margin-right: -100%;
                text-align: center;
            }

            > .minor-foot-note {
                flex: 1;
                font-size: 12px;
                color: $grey-text;
                margin-left: -100%;
                margin-right: -100%;
                text-align: center;
            }
        }
    }

    > .small-point-container {
        align-items: center;
        width: $small-point-size;
        height: $small-point-size;

        > .small-circle {
            width: $small-point-size;
            height: $small-point-size;
            border-radius: $small-point-radius;
            background-color: $darker-grey-text;
            color: $white;
            font-size: 20px;
            text-align: center;
            vertical-align: center;
            line-height: $small-point-size;
        }
        > .small-circle.selected {
            border: solid 3px $link-container-highlight;
        }

        > .small-point-foot-note {
            font-size: 12px;
            margin-left: -100%;
            margin-right: -100%;
            text-align: center;
        }
    }
}

.chord-wrap {
    margin: 0 auto;
    position: relative;

    svg {
        width: 100%;
        height: 100%;
    }

    .group-tick line {
        stroke: #000;
    }

    .ribbons {
        fill-opacity: 0.67;
    }
    .fade {
        fill-opacity: 0.01;
        stroke-opacity: 0.01;
    }

    .arc {
        cursor: pointer;
    }

    .label {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 6px;
        border-radius: 3px;
        font-size: 13px;
        max-width: 72px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: transparent;
        color: #333;
    }

    .label.highlight {
        background-color: #333;
        color: #fff;
    }
}

.typeahead-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    > .typeahead-bar {
        width: 650px;
        margin-right: $padding-base;
        box-shadow: 0 2px 4px $shadow;

        .form-control {
            border-radius: 2px;
        }
    }

    > .clear-button-container {
        position: absolute;
        right: $padding-xlarge;
        width: $typeahead-clear-buttons-size;

        > .close-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-left: 0;
            padding-right: 0;
            min-width: $typeahead-clear-buttons-size;
            width: $typeahead-clear-buttons-size;
            height: $typeahead-clear-buttons-size;
            z-index: 2;
            background-color: $darker-grey-text;

            > span {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 9px;
                line-height: 9px;
                font-weight: bolder;
            }
        }
    }
}

.wizard {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: $transparent-background;
    width: 100%;
    height: 100%;
    overflow: auto;

    > .wizard-container.full {
        width: 100%;
        height: 100%;
    }

    > .wizard-container {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: $white;

        > .wizard-header-container.full {
            color: $content-header-color;
            background: $content-header-bg;
            padding-left: $padding-xxxlarge;
            padding-right: $padding-xxxlarge;
            box-shadow: $base-box-shadow;

            > .close-button {
                color: white;
            }
        }

        > .wizard-header-container {

            width: 100%;
            height: $header-height;
            min-height: $header-height;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: $light-grey;
            padding-left: $padding-xlarge;
            padding-right: $padding-xlarge;

            > .wizard-header-left {

            }

            > .close-button {
                display: flex;
                flex-direction: row-reverse;
                font-size: 30px;
                padding-left: 0;
                padding-right: 0;
                width: $header-height;
                min-width: $header-height;
                height: $header-height;
                color: $darker-grey-text;
                background-color: transparent;
            }
            > .close-button:hover {
                background-color: transparent;
            }
            > .close-button:active {
                outline: none;
                background-color: transparent;
            }
            > .close-button:focus {
                outline: none;
                box-shadow: none;
                border: none;
            }
        }

        > .wizard-content-container {
            flex: 1;
            width: 100%;
            overflow: auto;
            padding: $padding-xxxlarge;
            padding-top: $padding-xlarge;
            display: flex;
            flex-direction: column;
        }

        > .wizard-footer-container {
            width: 100%;
            height: $header-height;
            background-color: $white;
            border-top: 1px solid $light-gray-3;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            padding-right: $padding-xxlarge;

            > .empty-space {
                width: $padding-xlarge;
                height: $padding-xlarge;
            }
        }
    }
}

.group-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: $padding-large;
    overflow: auto;
    max-height: 100%;
    width: 100%;

    .group-info-title {
        font-size: 20px;
        padding-bottom: $padding-small;
    }

    .group-info-children-container {
        border: 1px solid $light-gray-3;
        padding: $padding-xlarge;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.textField-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .textField-title {
        font-size: 13px;
    }

    .textField-bar {
    }
}
